{% extends "userprofile/home.html" %}
{% load staticfiles %}


{% if user.is_authenticated %}
{% block title_block %} Dr. {{ user.doctor.first_name }} {{ user.doctor.last_name }} | 360 MedNet {% endblock %}

{% block content %}
<div class="card">
<div class="row container ">
<div class="col s12 m9 l9">

        <table>
            <tr><td>
                    <br><img src="{{read_profile.avatar.url }}" width = "150" class="responsive-img img-fluid"
                     style='max-height:150px;'>
                </td>
                    <td>
                        <br><span class="flow-text"><font color="#4682b4">Dr. {{ read_profile.first_name }}
                        {{ read_profile.last_name }}</font></span>
            <span class="green-text"><br>{{ read_profile.profession}} at {{ read_profile.hospital}}
            <br>{{ read_profile.qualification }}
                <br>{{ read_profile.specialization }}</span>
                        <br><br>You Joined on <font color="#4682b4">{{ read_profile.created_at }}</font> <br>and you last
                        updated your profile on <br><font color="#4682b4"> {{ read_profile.updated_at}}</font>
            <br><br> <div class="row container"><a class="btn" href="{% url 'update_doctor' user.doctor.id %}">Update Profile</a></div>
                    </td>
                </tr></table>

        <br><div class="divider"></div>

{#        <br> About me:<br><font color="#4682b4">{{ read_profile.about_me }}</font><br><br><br>#}
        <br> About me:<br><font color="#4682b4">My name is Dr. {{ read_profile.first_name }} {{ read_profile.last_name }}.
            I am a {{ read_profile.profession}} at {{ read_profile.hospital}}. I am qualified in {{ read_profile.qualification }}
             and I am a specialist in {{ read_profile.specialization }}. I live and work in {{ read_profile.city }} city
            in {{ read_profile.country }} and can be contacted on {{ read_profile.work_number }}.
            <br><br>Thank you.</font><br><br><br>
        <br><div class="divider"></div><br>
        <div class="row">
            <div class="col s12 m3 l4"><h6>First Name :</div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.first_name }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Last Name :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.last_name }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Middle Name :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.middle_name }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Gender :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.gender }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Date of Birth :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.date_of_birth }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Qualificcation :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.qualification }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Profession :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.profession }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Specialization :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.specialization }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Year of first medical certification :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.year_of_first_medical_certification }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Year of first medical certification :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.year_of_first_medical_certification }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Personal Telephone :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.mobile_number }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Country of work :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.country }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>City of work :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.city }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Hospital :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.hospital }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Work Telephone :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ read_profile.work_number }}</div></font>
        </div>

        <br><br>
</div></div>
<br>
<div class="col s12 m9 l9 card blue-grey darken-1 card-content white-text">
{#    <div class="divider"></div>#}
{#    <br> Last updated on: {{ read_profile.updated_at}}#}
{#    <br><br>#}
{#    <div class="row container"><a class="btn" href="{% url 'update_doctor' user.doctor.id %}">Update Profile</a></div>#}

</div>
</div>


{% endblock %}
{% endif %}
