<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Invite Pics</title>
</head>
<body>

<img src="{% static 'userprofile/images/Welcome-Aboard.jpg' %}">
<img src="{% static 'userprofile/images/eventheader.jpg' %}">
<img src="{% static 'userprofile/images/Why360Mednet1.jpg' %}">
<img src="{% static 'userprofile/images/Why360Mednet2.jpg' %}">
<img src="{% static 'userprofile/images/Why360Mednet3.jpg' %}">
<img src="{% static 'userprofile/images/Why360Mednet4.jpg' %}">
<img src="{% static 'userprofile/images/Why360Mednet5.jpg' %}">
<img src="{% static 'userprofile/images/Why360Mednet6.jpg' %}">
<img src="{% static 'userprofile/images/Doctorsnetwork.jpg' %}">
<img src="{% static 'userprofile/images/sharing.jpeg' %}">
<img src="{% static 'userprofile/images/signup.jpg' %}">
<img src="{% static 'userprofile/images/logo.png' %}">
<img src="{% static 'userprofile/images/hdr4.jpg' %}">

</body>
</html>