{% extends "website/base.html" %}

{% block title %}Invite Medic | 360MedNet{% endblock %}
{% block content %}

<div class="container">
    <div class="card">
    <div class="container">
         {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% else %}
             <br><br>
             <span class="blue-grey-text flow-text" style="font-weight: 500">Invite a User.</span>
             <br>
<span class="green-text" style="font-weight: 300">Enter the user's Full names and email to send them an
    invite to 360MedNet.</span>
<form method="post" action=".">
{% csrf_token %}
  {{ form.as_p }}
  <input class="btn green waves-effect waves-yellow" type="submit" value="send invite" />
</form>
    {% endif %}
    <br><br><br>
    </div>
    </div>
</div>

{% endblock %}

